iot-monitoring-flow.json
[
    {
        "id": "972cf1a3ce413cb4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9bb602cdccf2781b",
        "type": "ui_gauge",
        "z": "972cf1a3ce413cb4",
        "name": "",
        "group": "d015aad33e1aa10a",
        "order": 4,
        "width": 11,
        "height": 7,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "aeb7d0eac6a03df0",
        "type": "ui_gauge",
        "z": "972cf1a3ce413cb4",
        "name": "",
        "group": "d015aad33e1aa10a",
        "order": 2,
        "width": 10,
        "height": 7,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "9cb7d379ce43eac9",
        "type": "ui_chart",
        "z": "972cf1a3ce413cb4",
        "name": "",
        "group": "d015aad33e1aa10a",
        "order": 26,
        "width": 10,
        "height": 6,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a8e8bbc9bed2aa75",
        "type": "ui_chart",
        "z": "972cf1a3ce413cb4",
        "name": "",
        "group": "d015aad33e1aa10a",
        "order": 28,
        "width": 11,
        "height": 6,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "afc6f0c36edee809",
        "type": "mqtt in",
        "z": "972cf1a3ce413cb4",
        "name": "ESP32 Temp",
        "topic": "esp32/sensor/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "31f4229f4c4a5c39",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "aeb7d0eac6a03df0",
                "9cb7d379ce43eac9",
                "d1c03f2504d5dc59",
                "bc144b27d0938f1e"
            ]
        ]
    },
    {
        "id": "bbe1f177696e2091",
        "type": "mqtt in",
        "z": "972cf1a3ce413cb4",
        "name": "ESP32 Hum",
        "topic": "esp32/sensor/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "31f4229f4c4a5c39",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "9bb602cdccf2781b",
                "a8e8bbc9bed2aa75",
                "442591a7f8e0864a",
                "67b757868f8d5536"
            ]
        ]
    },
    {
        "id": "442591a7f8e0864a",
        "type": "function",
        "z": "972cf1a3ce413cb4",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString(); // Get the current timestamp in ISO 8601 format\nvar value = msg.payload; // Get the input value\n\n// Create the output message\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "c8860f665249d749"
            ]
        ]
    },
    {
        "id": "d1c03f2504d5dc59",
        "type": "function",
        "z": "972cf1a3ce413cb4",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString(); // Get the current timestamp in ISO 8601 format\nvar value = msg.payload; // Get the input value\n\n// Create the output message\nmsg.payload = timestamp + \", \" + value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "ac60a664cc541ff2"
            ]
        ]
    },
    {
        "id": "c8860f665249d749",
        "type": "file",
        "z": "972cf1a3ce413cb4",
        "name": "Humidity Data",
        "filename": "D:\\Portofolio Github\\Dashboard DHT22 - Predictive Maintenance Github/Humidity.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 220,
        "wires": [
            []
        ],
        "info": "var timestamp = new Date().toISOString(); // Get the current timestamp in ISO 8601 format\r\nvar value = msg.payload; // Get the input value\r\n\r\n// Create the output message\r\nmsg.payload = timestamp + \", \" + value;\r\n\r\nreturn msg;"
    },
    {
        "id": "ac60a664cc541ff2",
        "type": "file",
        "z": "972cf1a3ce413cb4",
        "name": "Temperature Data",
        "filename": "D:\\Portofolio Github\\Dashboard DHT22 - Predictive Maintenance Github/Temperature.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 500,
        "wires": [
            []
        ],
        "info": "var timestamp = new Date().toISOString(); // Get the current timestamp in ISO 8601 format\r\nvar value = msg.payload; // Get the input value\r\n\r\n// Create the output message\r\nmsg.payload = timestamp + \", \" + value;\r\n\r\nreturn msg;"
    },
    {
        "id": "b81977d38c8e1381",
        "type": "comment",
        "z": "972cf1a3ce413cb4",
        "name": "Data from device to file csv",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "bc144b27d0938f1e",
        "type": "debug",
        "z": "972cf1a3ce413cb4",
        "name": "Data Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "67b757868f8d5536",
        "type": "debug",
        "z": "972cf1a3ce413cb4",
        "name": "Data Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "e55caf1c09dded08",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e83e79c381da18fc",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a65d602d2d98d5b1",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c7295cf64354746",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "1debe73de2acb7ca",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "3b78d5a91e22b334",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2078ff6a712604ef",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "918d4701f3b4605d",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "a862c892143bf8e3",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "31998db895a29ed9",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "25a4c10ab82e1f2d",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4ab43e3fc195841",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "8540e05b1b1494e7",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c20fbda918b655f",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "012db722ace07361",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "6c22f2fcca719568",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3720cb9e67025fa",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "9d1b183b50aea4f2",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "7bc13ab608725dd7",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "3276dad638755e45",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "9744e01beb6e4642",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f654ad41bfe884d",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 24,
        "width": 24,
        "height": 1
    },
    {
        "id": "b98e4a9f0ebb04a5",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "b0f2ba9e3970f4c3",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "85c2f6aba265b097",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "d433b17a7e8f4b30",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "9cafcfb6c98e487d",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "e39c3c4488e4ad43",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "40d26c50fa52306d",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d8b177e7191c777",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d3dd957033d160e",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "024b7314942cc7f4",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "b074c108b02dca72",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "29edd9e4b4394eaf",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "73fc9fdf70a309e5",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d25fcd796b4a777",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "907faaa9b0fe85ea",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "e275eb803d4a9d62",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "69ab6ebcae4b1ce5",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "65cec37062b22d40",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "846b3bdf0b095155",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 45,
        "width": 24,
        "height": 1
    },
    {
        "id": "8d2c6e0cdb64b560",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "570b9289cd8ebd58",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "85daad87e7779b46",
        "type": "ui_spacer",
        "z": "972cf1a3ce413cb4",
        "name": "spacer",
        "group": "d015aad33e1aa10a",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "d015aad33e1aa10a",
        "type": "ui_group",
        "name": "Dashboard Temperature & Humidity",
        "tab": "84308f73a723df19",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "31f4229f4c4a5c39",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "84308f73a723df19",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "44b433586e95a716",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]